body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	font-family: monospace;
}

div{
	/* у блоков будет единая высота */
	height: 100px;
	width: 800px;
	/* и становиться они будут друг за другом в один ряд */
	background: red;
}